#pai {
	background: $primary;
}

$gradiente: $primary;

body {
	background: #secundary;
}

a.botao,
input.submit.salvar_dados,
input.submit.avancar.passo4,
input.submit {
	background: $secundary !important;
}

.btn__help {
	background-color: none !important;
}
.title__page {
	// background: $primary !important;
}
