<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
<head>
<title>COMPREINGRESSOS.COM</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" valign="top">
            <table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                      <!-- BEGIN ITENS_DESTACAVEIS -->
                      <table width="140" border="0" align="left" cellpadding="0" cellspacing="0" style="margin-bottom: 5px;">
                            <tbody>
                                <tr>
                                    <td width="130" align="center" valign="middle">
                                        <table width="130" border="0" align="left" cellpadding="4" cellspacing="0">
                                            <tbody><tr>
                                                <td width="122" align="left" valign="top" bgcolor="#EEEEEE">
                                                    <p style="font-family:Arial,Verdana;font-size:10px;font-weight:normal;color:#000000;line-height:12px;margin:0;padding:0;">
                                                        {item_evento}<br>
                                                        {item_teatro}<br>
                                                        {item_tipo_bilhete}<br>
                                                        {item_data} {item_hora}<br>
                                                        {item_setor} {item_cadeira}
                                                    </p>
                                                    <p style="font-family:Arial,Verdana;font-size:10px;font-weight:normal;color:#000000;line-height:12px;margin:0;padding:0;text-transform:uppercase;float:right;">
                                                        urna
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                    <td width="10" align="center" valign="middle">
                                        <div style="width:0;height:80px;{item_extra_style}"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      <!-- END ITENS_DESTACAVEIS -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="15" valign="top">
            <div style="height:1px;border-bottom:2px dashed #EEEEEE;width:600px;"></div>
        </td>
    </tr>
    <tr>
        <td>
          <table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>
                        <p style="font-family:Arial,Verdana;font-size:14px;font-weight:bold;color:#930606;line-height:20px;margin:0;padding:0;">Aqui está o seu Ingresso (e-ticket)</p>
                        <p style="font-family:Arial,Verdana;font-size:9px;font-weight:normal;color:#930606;line-height:14px;margin:0;padding:0;">É obrigatório a apresentação deste voucher na bilheteria, <br>balcão ou diretamente no controle de acesso do local do evento.</p>
                    </td>
                    <td>
                        <img src="http://www.compreingressos.com/images/logo_compre_2015.jpg" style="width: 80px; height: 80px;" alt="" align="left">
                    </td>
                </tr>
                <tr>
                    <td height="6"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p style="font-family:Arial,Verdana;font-size:10px;font-weight:normal;color:#000000;line-height:16px;margin:0;padding:0;">
                            Olá <span style="font-size:11px;font-weight:bold;">{nome_presenteado}</span>, você foi presenteado através da <b>compreingressos.com</b>.<br />
                            Para adquirir seus ingressos, confira abaixo as informações sobre o espetáculo/evento, data, hora, setor e lugares escolhidos.
                        </p>
                    </td>
                </tr>                  
                <tr>
                    <td height="6"></td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr>
        <td height="13" valign="top">
            <div style="height:1px;border-bottom:1px solid #EEEEEE;width:600px;"></div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td>
                        <p style="font-family:Arial,Verdana;font-size:14px;font-weight:bold;color:#000000;line-height:16px;margin:0;padding:0;text-transform:uppercase;">
                            LOCALIZADOR Nº {codigo_pedido}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- BEGIN ITENS_PEDIDO -->
                        <table width="400" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td height="3"></td>
                                </tr>
                                <tr>
                                    <td width="72" align="left" valign="middle">
                                        <img src="{item_qrcode}" style="margin:0 20px 0 0;" />
                                    </td>
                                    <td width="328" valign="middle">
                                      <div style="width:324px;border:2px solid #EEEEEE;">
                                            <table width="324" border="0" cellpadding="4" cellspacing="0">
                                                <tbody><tr>
                                                    <td width="208" valign="middle">
                                                        <p style="font-family:Arial,Verdana;font-size:10px;font-weight:normal;color:#000000;line-height:15px;margin:0;padding:0;text-transform:uppercase;">
                                                            <b>{item_evento}</b><br>
                                                            {item_teatro}<br>
                                                            {item_tipo_bilhete}<br>
                                                            {item_setor} - {item_cadeira}<br>
                                                            <span style="font-size:15px;line-height:16px;">{item_data} {item_hora}</span>
                                                        </p>
                                                    </td>
                                                    <td width="100" align="center" valign="middle">
                                                        <p style="font-family:Arial,Verdana;font-size:13px;font-weight:bold;color:#000000;line-height:18px;margin:0;padding:0;text-transform:uppercase;">
                                                            {item_setor}
                                                        </p>
                                                        <p style="font-family:Arial,Verdana;font-size:19px;font-weight:bold;color:#000000;line-height:22px;margin:0;padding:0;text-transform:uppercase;">
                                                            {item_cadeira}
                                                        </p>
                                                        <p style="font-size: 10px; font-family: Arial, Verdana; margin-top: 2px;">
                                                            {item_codvenda}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END ITENS_PEDIDO -->
                    </td>
                </tr>                
                <tr>
                    <td height="6">      
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
    <tr>
        <td height="13" valign="top">
            <div style="height:1px;border-bottom:1px solid #EEEEEE;width:600px;"></div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table width="560" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="150" valign="top">
                                    <p style="font-family:Arial,Verdana;font-size:9px;font-weight:bold;color:#000000;line-height:14px;margin:0;padding:0;text-transform:uppercase;">
                                        DADOS DO PEDIDO
                                        <br />&nbsp;
                                    </p>
                                    <p style="font-family:Arial,Verdana;font-size:9px;font-weight:normal;color:#000000;line-height:14px;margin:0;padding:0;">
                                        <b>Localizador:</b> {codigo_pedido}<br />
                                        <b>Data e hora de venda:</b><br />
                                        {data_hora_status}<br />
                                        <b>Data e hora de impressão:</b><br />
                                        {data_hora_impressao}<br />
                                        <b>Name:</b><br />
                                        {nome_presenteado}<br />
                                        <b>E-mail:</b><br />
                                        {email_presenteado}<br />
                                        <b>Status: </b>{nome_status}<b> Via:</b> 1<br />
                                        <b>Meio de pagamento:</b><br />
                                        {meio_pagamento}<br />
                                        <b>Nr. do Cartão da Compra</b><br />
                                        {cartao}
                                    </p>
                                </td>
                                <td width="10"></td>
                                <td width="400" valign="top">
                                  <p style="font-family:Arial,Verdana;font-size:8px;font-weight:bold;color:#000000;line-height:14px;margin:0;padding:0;text-transform:uppercase;">
                                        OBSERVAÇÕES IMPORTANTES.
                                        <br />&nbsp;
                                    </p>
                                    <p style="font-family:Arial,Verdana;font-size:8px;font-weight:normal;color:#000000;line-height:14px;margin:0;padding:0;">
                                        - O espetáculo começa rigorosamente no horário marcado. Não haverá troca de ingresso ou devoluções em caso de atraso de qualquer natureza. Seja pontual, poderá não ser permitida a entrada após o início do espetáculo.<br />
                                        - A taxa de serviço e os ingressos que forem adquiridos e pagos através desse canal não poderão ser devolvidos,
                                        trocado ou cancelados depois que a compra for efetuada pelo cliente e o pagamento confirmado pela
                                        instituição financeira.<br />
                                        - É obrigatório <b>apresentar um documento de identificação pessoal que comprove a titularidade do beneficiado</b> na entrada do evento. Em caso de retirada por terceiros, utilizar a procuração abaixo no corpo deste e-mail.<br />
                                        - No caso de <b>meia-entrada</b> ou <b>promoção</b> é obrigatório a apresentação de documento que comprove o
                                        benefício no momento da retirada dos ingressos e na entrada do local.<br />
                                        - Caso você tenha alguma dúvida sobre o seu pedido, entre em contato conosco através do site:
                                        <a href="compreingressos.tomticket.com/kb" style="font-size:8px;color:#000000;text-decoration:none;font-weight:bold;">compreingressos.tomticket.com/kb</a><br /><br />
                                    </p>
                                    <p style="font-family:Arial,Verdana;font-size:8px;font-weight:bold;color:#000000;line-height:14px;margin:0;padding:0;text-transform:uppercase;">
                                        ESTE É UM E-MAIL AUTOMÁTICO. NÃO É NECESSÁRIO RESPONDÊ-LO.
                                    </p>
                                    <br />
                                    {workaround}
                                </td>
                          </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="8"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="13" valign="top">
            <div style="height:1px;border-bottom:1px solid #EEEEEE;width:600px;page-break-after: always;"></div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p style="font-family:Arial,Verdana;font-size:12px;font-weight:normal;color:#000000;line-height:16px;margin:0;padding:0;">
                            <b>PROCURAÇÃO</b><br /><br />
                            AUTORIZAÇÃO PARA RETIRADA DE INGRESSOS POR TERCEIROS<br /><br />
                            <span style="line-height:26px">Pelo presente instrumento particular de procuração, ______________________________________,  inscrito(a) no  CPF sob n.º _____________________, nomeia e constitui seu(sua) bastante procurador(a), ______________________________________, inscrito(a) no CPF sob n.º _____________________,</span> para o fim específico de retirar, aceitar, trocar e/ou promover todos os demais atos pertinentes ao recebimento do(s)ingressos(s) cujo número do pedido/localizador {codigo_pedido}, adquirido(s) pelo Outorgante no site da COMPREINGRESSOS (www.compreingressos.com), nos termos procedimento, prazos e locais convencionados.<br />
                            O presente instrumento de procuração encontra-se limitado aos poderes específicos para a causa indicada, tendo prazo determinado até a data do evento relacionado e serve de comprovação para eventuais contestações junto a credenciadoras dos cartões de crédito de que os ingressos foram comprados e utilizados.<br /><br />
                            ___________________, _____, _________________________________________<br /><br />
                            Assinatura e CPF de quem comprou os Ingressos.<br /><br /><br /><br /><br /><br />
                            ___________________, _____, _________________________________________<br /><br />
                            Assinatura e CPF de quem recebeu os Ingressos.<br /><br /><br /><br /><br /><br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td height="6"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="13" valign="top">
            <div style="height:1px;border-bottom:1px solid #EEEEEE;width:600px;"></div>
        </td>
    </tr>
    <tr>
        <td>
            <table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p style="font-family:Arial,Verdana;font-size:12px;font-weight:normal;color:#000000;line-height:16px;margin:0;padding:0;">
                            <b>TERMO DE AUTORIZAÇÃO PARA UTILIZAÇÃO DE CARTÃO DE TERCEIROS</b><br /><br />
                            <span style="line-height:26px">EU:_________________________________________________________________________ <br />
                            RG:____________________________ CPF:______________________________, AUTORIZO <br />
                            NOME:______________________________________________________________________ <br />
                            RG:____________________________ CPF:______________________________, a utilizar o <br />
                            Cartão de Crédito ou Débito que tenha os ingressos vinculados do Localizador N° {codigo_pedido}, <br />
                            Referente ao evento: _____________________________ que se realizará no dia: ___/___/___.<br /><br />
                            Para terceiros utilizarem o cartão como meio de compra, será necessário que o mesmo esteja de posse do cartão utilizado na compra, o RG ou documento com foto, comprovante de compra junto com a autorização ao portador devidamente reconhecida ou autenticada em cartório.<br /><br />
                            _____________________________________________________________ <br />
                            ASSINATURA RECONHECIDA OU AUTENTICADA EM CARTÓRIO
                            </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td height="6"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>print()</script>
</body>
</html>