<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">

<head>
    <title>bilheteriacom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url(../../../images/marca2PNG.png);
        }

        p {
            font-size: 10px;
        }

        table.box {
            display: inline-block;
            margin: 0 5%;
            font-size: 12px;
        }
    </style>
    </head>

    <body>
        <h1 style="text-align: center;"><img src="https://media.tixs.me/logos/logo-bilheteriacom.png"
                alt="Logo Bilheteria" style="height: 50px;">
        </h1>
        <h4 style="text-align: center; margin-top: -10px;">CONFIRMAÇÃO DA COMPRA</h4>

        <div>
            <h5>Tipo do Ingresso:</h5>
            <p style="margin-top: -20px;">{item_tipo_bilhete}</p>
            <h5>Produto:</h5>
            <p style="margin-top: -20px;">{item_teatro}</p>
            <div>
                <table class="box">
                    <tr>
                        <td>Código:</td>
                    </tr>
                    <tr>
                        <td>{codigo_cliente}</td>
                    </tr>
                </table>

                <table class="box">
                    <tr>
                        <td>Número do Pedido:</td>
                    </tr>
                    <tr>
                        <td>{codigo_pedido}</td>
                    </tr>
                </table>

                <table class="box">
                    <tr>
                        <td>Data da Compra:</td>
                    </tr>
                    <tr>
                        <td>{item_data}</td>
                    </tr>
                </table>

                <table class="box">
                    <tr>
                        <td>Validade:</td>
                    </tr>
                    <tr>
                        <td>{}</td>
                    </tr>
                </table>
            </div>


            <h5>Nome:</h5>
            <h3 style="margin-top: -20px;">{nome_cliente}</h3>
            <h4>CPF: {cpf_cnpj_cliente}</h4>

            <h5 style="text-align: center;">LEIA, É IMPORTANTE!</h5>
            <div align="justify" class="">
                <h5 style="text-align: center;">PARQUE DA MÔNICA</h5>
                <p> -Limite de até 5 ingressos por CPF; O voucher é valido apenas para o dia da visita, referente a data
                    escolhida no ato da compra; O voucher é intransferível;</p>
                <p> -Não será permitida o reagendamento após a compra;</p>
                <p> -Obrigatório a apresentação do voucher impresso junto com o documento de indentidade na Bilheteria
                    do
                    parque
                    para a troca do (s) Ingresso (s);</p>
                <p> -A troca do voucher por ingresso é realizada exclusivamente na Bilheteria do Parque conforme o
                    calendário de
                    abertura disponível no site www.parquedamonica.com.br;</p>
                <p> -O ingresso adquirido dará direito a único acesso ao Parque;</p>
                <p> -O voucher não poderá ser trocado, nem convertido total ou parcialmente em crédito ou valor;</p>
                <p> -Promoção não acumulativa com outras promoções e benefícios. Essa promoção só é valida para Empresas
                    parceira, não será valida para Excursões;</p>
                <p> -Ingresso para criança até 1 ano e 11 meses é gratuito, mediante apresentação do RG ou certidão de
                    nascimento da criança. Basta retirar na Bilheteria;</p>
                <p> -O parque segue normas internacionais de segurança. As atrações possuem restrições de uso como
                    idade,
                    altura, calçados e condições físicas. Em algumas atrações não é permitida a entrada com calçados de
                    salto,
                    chinelos, curativos e imobilizações médicas ( gesso ou tala). Consulte as restrições gerais na
                    placas
                    localizadas na entrada de cada atração e no site do parque;</p>
                <p> -O ingresso não inclui serviços adicionais, atrações extras pagas à parte e não é valido para
                    promoções,
                    descontos, eventos especiais ou exclusivos;</p>
                <p> -Não é permitida a entrada no parque com objetos cortantes, alimentos e bebidas em recipientes de
                    vidro;
                </p>
                <p> -O Parque possui capacidade simultânea de 3.000 visitantes e se reserva ao direito de fechar a
                    Bilheteria e
                    restringir o acesso do público ao Parque após atingir sua capacidade máximo;</p>
                <p> -Cancelamentos serão permitidos em até 07 (sete) dias corridos a contar da data de compra. Por isso,
                    fique
                    atento à validade do seu voucher e programe sua visita com antecedência, pois caso o voucher esteja
                    vencido
                    não será possível o cancelamento.</p>
                <p> -O voucher deve ser mantido o mais intacto possível e protegido de terceiros, pois a Bilheteria.com
                    não
                    se
                    responsabiliza por perdas ou pelo uso de terceiros.</p>


                <div style="text-align: center;">
                    <h5>UTILIZE ESTE PIN PARA TROCAR ESSE VOUCHER PELO SEU INGRESSO:</h5>
                    <p>PIN: {pin_code}</p>

                    <img style="align-content: center; height: 70px; " src="{item_qrcode}" />

                </div>
            </div>
            <footer>
                <h3 style="float: left;">bilheteria.com</h3>
                <h3 style="float: right;">(11) 3030-3033</h3>
            </footer>
        </div>

        <script>print()</script>
    </body>

</html>