<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">

<head>
    <title>bilheteriacom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url(../../../images/prancheta1.png);
        }

        p {
            font-size: 10px;
        }

        td {
            font-size: 12px;
            font: bolder;
        }

        table.box {
            display: inline-block;
            margin-right: 8%;
            font-size: 12px;
        }
    </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <h1 style="text-align: center;"><img src="../../../images/logo-bilheteriacom2.png" alt="Logo Bilheteria"
            style="height: 50px;">
    </h1>
    <h4 style="text-align: center; margin-top: -10px;">CONFIRMAÇÃO DA COMPRA</h4>

    <div>
        <table class="box">
            <tr>
                <td><strong>Tipo do Ingresso:</strong></td>
            </tr>
            <tr>
                <td>{item_tipo_bilhete}</td>
            </tr>
        </table>
        <table class="box">
            <tr>
                <td><strong>Qtde:</strong></td>
            </tr>
            <tr>
                <td>{}</td>
            </tr>
        </table>
        <table class="box">
            <tr>
                <td><strong>Data do Eevento:</strong></td>
            </tr>
            <tr>
                <td>{item_data}</td>
            </tr>
        </table>
    </div>

    <h5>Produto:</h5>
    <p style="margin-top: -20px;">{item_evento}</p>
    <div>
        <table class="box">
            <tr>
                <td><strong>Código:</strong></td>
            </tr>
            <tr>
                <td>{item_codvenda}</td>
            </tr>
        </table>

        <table class="box">
            <tr>
                <td><strong>Número do Pedido:</strong></td>
            </tr>
            <tr>
                <td>{codigo_pedido}</td>
            </tr>
        </table>

        <table class="box">
            <tr>
                <td><strong>Data da Compra:</strong></td>
            </tr>
            <tr>
                <td>{data_hora_impressao}</td>
            </tr>
        </table>

        <table class="box">
            <tr>
                <td><strong>Validade:</strong></td>
            </tr>
            <tr>
                <td>{}</td>
            </tr>
        </table>
    </div>


    <h5>Nome:</h5>
    <h3 style="margin-top: -20px;">{nome_cliente}</h3>
    <h4 style="margin-top: -15px;">CPF: {cpf_cnpj_cliente}</h4>

    <h5 style="text-align: center;">LEIA, É IMPORTANTE!</h5>
    <div>
        <h5 style="text-align: center;">{description_voucher}</h5>
        <p>{description_voucher2}</p>

        <div style="text-align: center;">

            <table style="margin: auto; border: none;" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table style="margin: auto; border: none;" cellpadding="0" cellspacing="0">
                            <tbody>

                                <tr>
                                    <td>
                                        <!-- BEGIN ITENS_PEDIDO -->
                                        <table style="display: inline-block; margin: auto; border: none; padding: 2px;"
                                            width="80" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td height="3"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: center;" width="72" valign="middle">
                                                        <img src="{item_qrcode}" />

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- END ITENS_PEDIDO -->
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
        <p>{codePin}</p>
    </div>

    <footer>
        <h3 style="float: left;">bilheteria.com</h3>
        <h3 style="float: right;">(11) 3030-3033</h3>
    </footer>

    <script>print()</script>
</body>

</html>