$primary: rgb(143, 106, 46) !default;
$secundary: rgb(197,151,62) !default;

$white: #fff !default;
$black: #333 !default;

$big-stone: #152536;
$lite-grey: rgba($black, 0.2);
$lite-big-stone: rgba($big-stone, 0.7);
