@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../ticketHub/main.scss";

@if $tickethub == true {
	@include froala;
	@include header;
	@include content;
	@include footer;

	.container__header {
		background: linear-gradient(135deg, #ff0099 10%, #04a6ec) !important;
	}

	.container__header {
		//	height: 60px !important;
	}
	.header__logo .logo-header {
		//	height: 35px !important;
		//	margin-top: -8px;
	}
	$gradiente: $primary;
	.header__logo .logo-header {
		height: 20px !important;
		width: 30% !important;
		background-position: left center;
		margin-top: 0px !important;
	}
}
