@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../ticketHub/main.scss";

@if $tickethub == true {
	@include froala;
	@include header;
	@include content;
	@include footer;

	.container__header {
		// background-color: $secundary !important;
		background-image: radial-gradient(
			circle farthest-corner at 10% 20%,
			rgba(255, 197, 118, 1) 0%,
			rgba(254, 106, 103, 1) 47.7%,
			rgba(240, 23, 23, 1) 92.3%
		) !important;
	}

	.container__header {
		height: 80px !important;
	}
	.header__logo .logo-header {
		//	height: 35px !important;
		//	margin-top: -8px;
	}
	.header__logo .logo-header {
		height: 40px;
		width: 400px;
		background-position: left center;
		margin-top: -10px;
		background-size: 55%;
	}
	$gradiente: $primary;

	.header__logo .logo-header {
		height: 30px;
		width: 50%;
		background-position: left center;
		margin-top: 0px;
		background-size: contain !important;
	}
}
