a img { border: none;}
#ticket_net {
	width:640px;
	overflow:auto;
	float:left;
	border-left:2px solid #ccc;
	min-height:500px;
	padding:0 0 20px 20px;
}

#passos {
	margin:0;
	padding:0 0 11px;
	border-bottom:2px solid #ddd;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:gray;
}

#passos ul {
	list-style-type:none;
	margin:0;padding:0;
}

#passos li {
	display:inline;
	margin:0 13px 0;
}

#passos li.passo_ativo {
	color:black;
}

#passos li.passo_ativo .numero {
	font-size:16px;
}

.titulo {
	color:gray;
	margin:12px 0 0 1px;
	padding-bottom:10px;
}
.with_border_top {
	border-top:2px solid #ddd;
	padding-top:10px;
}
.with_border_bottom {
	border-bottom:2px solid #ddd;
	padding-bottom:10px;
}
.titulo h1 {
	font-size:18px;
	font-weight:normal;
	margin:3px 0 0;
}

.titulo h3 {
	margin:0 0 10px;
}
.titulo p {
	font-size:12px;
	margin:15px;
}

.mapa_de_plateia {
	height:512px;
	background-color:red;
	padding:5px;
	margin:10px 0 0;
}

#footer_ticket {
	margin:0;
	border-top:2px solid #ddd;
	float:left;
	width:100%;
}

#footer_ticket p {
	margin:0;
	font-size:12px;
	font-weight:bold;
	padding:5px 0;
}

.botoes_ticket {
	min-width:140px;
	height:19px;
	padding:4px 0;
	color:white;
	font-weight:bold;
	background-color:red;
	text-align:center;
	margin:0;
	font-size:17px;
}

#botao_avancar { float:right; }
#botao_voltar { float:left; }


.resumo_pedido {
	border-bottom:2px solid #ddd;
	padding:10px 0 20px;
	overflow:auto;
}

.resumo_pedido th {
	font-size:12px;
	text-align:left;
}

.resumo_pedido td {
	font-size:11px;
	font-style:italic;
	padding:4px 0;
}

.resumo_pedido td .assento {
	font-size:20px;
	font-weight:bold;
}

.resumo_pedido .remover {
	text-align:center;
}
select {
	border:1px solid #ddd;
	font-size:12px;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	color:gray;
}

input {
	border:1px solid #ddd;
	font-size:12px;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	color:gray;
}

#forma_entrega {
	overflow:auto;	
}

#forma_entrega_left {
	float:left;
}

#forma_entrega_right {
	float:right;
	margin-right:155px;
}

#forma_entrega h2 {
	font-size:12px;
	margin:5px 0;
}
#forma_entrega_totais {
	float:right;
	clear:right;
	margin:20px 0 10px;
	width:100%;
}

#forma_entrega_totais table {
	float:right;
}

#forma_entrega_totais th {
	font-size:12px;
	text-align:right;
}

#forma_entrega_totais td {
	font-size:16px;
	color:gray;
	text-align:right;
	width:125px;
	font-style:italic;
	font-weight:bold;
}

#forma_entrega_totais td.valor_total {
	color:green;
}

#identificacao {
	padding:10px 0;
	overflow:auto;
}

#identificacao h1 {
	font-size:20px;
	margin:0;
}
#identificacao p.help_text {
	font-size:11px;
	font-style:italic;
	margin:2px 0 10px;
}

#identificacao h2 {
	font-size:12px;
	margin:2px 0;
}

.icone_id {
	float:left;
	background-color:gray;
	margin:5px 7px 5px;
}

#id_left {
	float:left;
	width:240px;
}

#id_left p.aviso {
	font-size:13px;
	color:#666;
}

#id_right_cadastro {
	width:210px;
	float:left;
	margin-left:10%;
}

#id_right {
	width:240px;
	float:left;
}

#identificacao .botoes_ticket {
	margin:5px 0;
	width:140px;
}

#cadastreme { float: right;}

a { color:red; text-decoration:none;}

#dados_entrega {
	overflow:auto;
	padding-bottom:10px;
}
#dados_entrega h1 {
	font-size:20px;
	margin:10px 0 0;
}

#dados_entrega p {
	font-size:12px;
	font-style:italic;
	margin:0 0 5px;
}

#identificacao a {
	font-size:12px;
}
.entrega { 
	float: left;
	margin:20px 10px 5px;
	width:250px;
}

.entrega .endereco_radio {
	float:left;
	width:32px;
}

.entrega .endereco_entrega {
	float:left;
}

#dados_entrega h2 {
	font-size:12px;
	margin:0;
}
#dados_entrega a { font-size: 12px; width:100%; float:left;}

#botao_pagamento { float:right; width: 177px;}
#botao_confirmar { float:right; width: 150px;}

#forma_pagamento {
	padding:10px 0 20px;
}

#credit_cards {
	width:100%;
	margin:20px 0;
	overflow:auto;
}
.credit_card {
	margin:0 10px;
}
.credit_card input {
	float:left;
}
.cc_logo {
	width:40px;
	height:20px;
	background-color:gray;
	float:left;
	margin:0 20px 0 10px;
}

#cc_form h2 {
	font-size:12px;
	margin:5px 0 0;
}

.botoes_ticket:hover {
	background-color:black;
	color:red;
}

.calcular_btn {
	background:transparent url('/images/bt_calcular_up.jpg') no-repeat center;
	width:81px;
	float:right;
	text-align:center;
	font-size:10px;
	color:#666;
	padding:2px;
	cursor:pointer;
}

.calcular_btn:hover {
	background:transparent url('/images/bt_calcular_down.jpg') no-repeat center;
}
#forma_entrega_right .calcular_btn {
	margin:3px 20px 3px;
	
}

#abas_minha_conta {
	width:100%;
	overflow:auto;
}

.aba_minha_conta {
	background:transparent url('/images/submenu_bt_up.jpg') no-repeat center;
	width:121px;
	float:left;
	color:#666;
	text-transform:uppercase;
	font-size:10px;
	text-align:center;
	padding:7px 0 8px;
}

.aba_down, .aba_minha_conta:hover {
	background:transparent url('/images/submenu_bt_down.jpg') no-repeat center;
	color:white;
}

#pedidos {
	margin:20px 0 0;
}

#pedidos table th {
	font-size:12px;
	text-align:left;
	min-width:47px;
	padding:0 34px 0 0;
}

#pedidos table td {
	font-size:12px;
	font-weight:normal;
	padding:2px 0;
}
