.logo-img {
	background-color: black;
	border-radius: 2px;
}

.body {
	background-color: black;
}

$gradiente: $secundary;

.main__tixsme {
	background: black;
}

a.botao {
	background: #fff !important;
	color: #f29536 !important;
}

a.botao,
input.submit.salvar_dados,
input.submit.avancar.passo4,
input.submit {
	background: #fff !important;
	color: #f29536 !important;
}

.btn__help {
	background-color: none !important;
}

div .container_botoes_etapas{
	z-index: 1000 !important;
	background-color: #f29536;
}
