<configuration xmlns="http://logging.apache.org/log4php/">
 
    <appender name="myConsoleAppender" class="LoggerAppenderConsole" />
    
    <appender name="myFileAppender" class="LoggerAppenderFile">
        <layout class="LoggerLayoutPattern">
            <param name="conversionPattern" value="%date [%logger] %message%newline" />
        </layout>
        <param name="file" value="/var/www/html/log/log4php.log" />
    </appender>
    
    <root>
        <level value="ALL" />
        <appender_ref ref="myConsoleAppender" />
    </root>
</configuration>