.logo-img {
	background-color: black;
	border-radius: 2px;
}

.body {
	background-color: black;
}

$gradiente: $secundary;

.main__tixsme {
	background: black;
}

a.botao {
	background: #fff !important;
	color: #f29536 !important;
}

a.botao,
input.submit.salvar_dados,
input.submit.avancar.passo4,
input.submit {
	background: #fff !important;
	color: #f29536 !important;
}

.btn__help {
	background-color: none !important;
}

div .container_botoes_etapas{
	z-index: 1000 !important;
	background-color: #f29536;
}

a.botao:hover{
	color: $primary !important;
	cursor: pointer !important;
}

div.alert img {
	margin-top: 160px !important;
	height: 40px !important;

	@include MQ(S) {
		width: 60px !important;
	}
} 

div.alert div.container_erros p {
	margin-top: 115px !important;
	font-size: 65px !important;

	@include MQ(S){
		font-size: 43px !important;
    	line-height: 60px !important;
    	/* margin-left: 40px; */
    	text-align: center !important;
}
}

div.alert {
	height: 600px !important;

	@include MQ(S){
		height: 700px !important;
	}
}

p.endereco {
	color: #fff !important;
}

.endereco__icon {
	height: 0 !important;
}

.resumo_espetaculo .resumo {
	height: 0 !important;
}

.other__dates-btn{
	background: 0 !important;
}