@import "settings.scss";
@import "../../main.scss";
@import "override.scss";
@import "../../ticketHub/main.scss";

@if $tickethub == true {
	@include froala;
	@include header;
	@include content;
	@include footer;

	.container__header {
		background: linear-gradient(to top, #f15f79, #b24592) !important;
	}

	.header__logo .img {
		height: 35px;
		width: 50%;
		background-position: left center;
		margin-top: 0px;
	}
}
