<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br">
    <head>
        <title>INGRESSOSLITORAL.COM</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <body>
        <table cellpadding="0" border="0" cellspacing="0">
            <tbody>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_2.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_3.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_4.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_5.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_0_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_1_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_1_1.jpg" style="display:block"/>
                    </td>
                    <td colspan="2" style="font-size: 16px; line-height: 19px; font-family: Verdana,Arial; color: #FFF; background-color: #282828;">
                        <span>{nome_cliente},</span>
                        <br/>
                        <br/>AGORA VOCÊ É UM
                        <span style="text-transform: uppercase;">{nome_assinatura}</span>
                        <br/>
                        <span style="font-size: 12px;">Parabéns agora você faz parte do maior clube
                            <br/>de entretenimento ao vivo do Brasil.
                        </span>
                        <br/>
                        <br/>DETALHES DA COMPRA
                        <br/>
                        <span style="font-size: 12px;">Todos os meses você terá direito a {quantidade_ingressos} ingresso(s)
                            <br/>na programação do maior portal de cultura e
                            <br/>entretenimento do Brasil. Acesso o site
                            <br/>
                            <a href="http://www.ingressoslitoral.com/assinante-a-programação" style="color: #FFF">compreingressos.com/assinante-a-programação</a>
                            <br/>escolha o espetáculo de sua preferência, e divirta-se!
                        </span>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_1_4.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_1_5.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_1_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_2.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_3.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_4.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_5.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_2_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_3_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_3_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_3_2.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.compreingressos.com/images/templates/emailAssinatura/slice_3_3.jpg" style="display:block"/>
                    </td>
                    <td>
                        <a href="https://compra.ingressoslitoral.com/comprar/termosUsoAssinatura.php">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_3_4.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <a href="https://compra.ingressoslitoral.com/comprar/termosUsoAssinatura.php">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_3_5.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_3_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_2.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_3.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_4.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_5.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_4_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <a href="{pkpass_url}">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_2.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <a href="{pkpass_url}">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_3.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_4.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_5.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_5_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_0.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_2.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_3.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_4.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_5.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_6_6.jpg" style="display:block"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://www.ingressoslitoral/">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_0.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_1.jpg" style="display:block"/>
                    </td>
                    <td>
                        <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_2.jpg" style="display:block"/>
                    </td>
                    <td>
                        <a href="https://play.google.com/store/apps/details?id=br.com.compreingressos">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_3.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <a href="https://play.google.com/store/apps/details?id=br.com.compreingressos">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_4.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <a href="https://itunes.apple.com/us/app/compreingressos/id980126862?ls=1&amp;mt=8">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_5.jpg" style="display:block"/>
                        </a>
                    </td>
                    <td>
                        <a href="https://itunes.apple.com/us/app/compreingressos/id980126862?ls=1&amp;mt=8">
                            <img src="http://compra.ingressoslitoral.com/images/templates/emailAssinatura/slice_7_6.jpg" style="display:block"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>